[csdms.cmi.Child]
init_ports=CoastalEnvironment
ports=CoastalEnvironment,SubaqueousDelta,BaseLevel
optional_ports=CoastalEnvironment,SubaqueousDelta,BaseLevel
mappers=Basement@CoastalEnvironment:Nearest,SeaFloorElevation@SubaqueousDelta:Mean,Uplift@BaseLevel:Nearest
#mappers=Basement@CoastalEnvironment:Nearest,Uplift@BaseLevel:Nearest
#mappers=Elevation@CoastalEnvironment:Nearest,Elevation@SubaqueousDelta:Weighted Mean,Uplift@BaseLevel:Nearest
#ports=SubaqueousDelta
template_files=
  Child.in.in->Child.in,
  Child_command_line.txt.in->Child_command_line.txt
#mappers=Elevation@SubaqueousDelta:Weighted Mean
#mappers=Elevation@SubaqueousDelta:Weighted Mean,BaseLevel@BaseLevel:Nearest
config_xml_file=Child.xml
port_queue_dt=1.
output_file_namespace=Output/Grid/,Output/CellGrid/
initialize_arg=Child_command_line.txt

